<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - Basics - <a href="https://github.com/Albatros46">SA Software</a>
    
    </div>
</footer>